version: '3'

services:
  my_container:
    container_name: <MY_NAME>
    build: .
    restart: unless-stopped
    shm_size: 2g
    ports:
      - "127.0.0.1:4444:4444"
      - "127.0.0.1:7900:7900"
    volumes:
      - .:/app
    environment:
      - PYTHON_FILE_PATH=<path to a python file to run at startup>
